body
{
    background-position: center center;
    background-image: url('Images/coffee-spill-main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #FFFFFF;
}
