<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="BillDBcon" connectionString="data source=pc252229;initial catalog=bill_payment_system_db;integrated security=true" />
    <add name="bill_payment_systemConnectionString" connectionString="Data Source=PC252229;Initial Catalog=bill_payment_system_db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bill_payment_systemConnectionString2" connectionString="Data Source=PC252229;Initial Catalog=bill_payment_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bill_payment_system_dbConnectionString" connectionString="Data Source=PC252229;Initial Catalog=bill_payment_system_db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bill_payment_system_dbConnectionString2" connectionString="Data Source=PC252229;Initial Catalog=bill_payment_system_db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bill_payment_system_dbConnectionString3" connectionString="Data Source=PC252229;Initial Catalog=bill_payment_system_db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bill_payment_system_dbConnectionString4" connectionString="Data Source=PC252229;Initial Catalog=bill_payment_system_db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <sessionState  timeout="15"  />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
